<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Color Palette Generator</title>
    <link rel="stylesheet" href="colorpalletgen.css">
</head>
<body>
    <div class="container">
        <h1>Image Color Palette Generator by Riddhi Gupta</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Click to Upload File here</button>
        </form>
        {% if colors %}
            <h2>This is your Uploaded Image:</h2>
            <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Uploaded Image">
            <h2>after doing python's magic here's the Color Palette:</h2>
            <div class="palette">
                {% for color, count in colors %}
                    <div class="color-box" style="background-color: rgb{{ color }};">
                        rgb{{ color }}<br>Count: {{ count }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>
